@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  max-width: 1440px;
  background-color: hsl(0, 0%, 98%);
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

p {
  color: #a3a5ae;
}

h1,
h2,
h3 {
  color: #4c4e61;
}

header {
  text-align: center;
  margin: 50px auto;
}
header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
}
header p {
  width: 38%;
  line-height: 1.7;
  text-align: center;
  margin: 10px auto;
}

h1 strong {
  font-size: 30px;
}
.container {
  display: flex;
  max-width: 1230px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.box {
  padding: 30px;
  margin: 15px;
  background-color: #fff;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 8px 10px 1px rgba(76, 78, 97, 0.2);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.box h2 {
  font-size: 16px;
}

.box p {
  margin: 15px 0 30px;
  font-size: 14px;
}

.box img {
  display: block;
  margin-left: auto;
}

.box::after {
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 5px;
}

.cyan::after {
  background-color: hsl(180, 62%, 55%);
}

.red::after {
  background-color: hsl(0, 78%, 62%);
}
.orange::after {
  background-color: hsl(34, 97%, 64%);
}
.blue::after {
  background-color: hsl(212, 86%, 64%);
}

@media (min-width: 1140px) {
  .box-push {
    transform: translateY(50%);
  }
}
